
$primary-color: #4d4dae;

.nav-list{
    font-size: 30px;
    li{
        list-style: none;
        color: $primary-color;
        &:hover{
            background-color: yellow;
            cursor: pointer;
        }
    }
}